<div class="container">
    <div *ngIf="success === true" class="success_bar">
        {{success_message}}
        <span (click)="closed()" class="close">&times;</span>
    </div>
    <div class="form-container">
        <div class="form-title">Contactez nous</div>
        <form [formGroup]="useForm" (ngSubmit)="onSubmit()">
            <div class="form-info">
                <div class="form-div">
                    <span class="form-details">Nom Complet *</span>
                    <input type="text" class="form-input" name="name" formControlName="fullName" id="name" placeholder="Votre Nom Entier" autocomplete="off" required>
                    <div *ngIf="fbname && fbname.invalid && fbname.touched">
                        <span *ngIf="fbname.errors?.required" class="err">Le nom est requis</span>
                    </div>
                </div>
                <div class="form-div">
                    <span class="form-details">Numero</span>
                    <input type="tel" name="number" id="number" formControlName="number" autocomplete="off" placeholder="072132******">
                    <div *ngIf="fbnumber && fbnumber.invalid && fbnumber.touched">
                        <span *ngIf="fbnumber.errors?.pattern" class="err">Veuillez saisir un numero de 10</span>
                    </div>
                </div>
                <div class="form-div">
                    <span class="form-details">Email *</span>
                    <input type="text" name="email" id="email" formControlName="email" placeholder="email@email.com" autocomplete="off" required>
                    <div *ngIf="fbemail && fbemail.invalid && fbemail.touched">
                        <span *ngIf="fbemail.errors?.required" class="err">L'e-mail est requis</span>
                        <span *ngIf="fbemail.errors?.email" class="err">Ceci n'est pas un mail conforme</span>
                    </div>
                </div>
                <div class="form-div">
                    <span class="form-details">Objet *</span>
                    <input class="object" type="text" name="objet" id="objet" formControlName="objet" placeholder="Motif du contact" autocomplete="off" required>
                    <div *ngIf="fbobjet && fbobjet.invalid && fbobjet.touched">
                        <span *ngIf="fbobjet.errors?.required" class="err">L'objet est requis</span>

                    </div>
                </div>
                <div class="form-div">
                    <span class="form-details">Message *</span>
                    <textarea name="Message" id="Message" formControlName="message" cols="45" rows="10" required></textarea>
                    <div *ngIf="fbmessage && fbmessage.invalid && fbmessage.touched">
                        <span *ngIf="fbmessage.errors?.required" class="err">Le message  est requis</span>
                    </div>
                </div>
                <div class="form-div">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Envoyer" [disabled]="useForm.invalid">
            </div>
        </form>
    </div>
</div>
