.container h1 {
    margin-top: 1em;
    font-size: 2em;
    margin-left: 1.5em;
    font-family: var(--font-family);
    color: black;
    padding-bottom: 2em;
}

.show-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2em;
    justify-items: center;
}

.service-card {
    height: 40vh;
    border: 1px solid black;
}

.ent {
    &-info {
        &-card {
            animation: shaker 200ms ease 300ms 2;
            cursor: pointer;
            color: white;
            background-size: cover;
            background-position: center;
            padding: 12rem 0 0;
            width: max(27.5vw, 21vh);
            height: min(45vh, 30vw);
            border-radius: 0.75rem;
            box-shadow: 5px 5px 25px black;
            overflow: hidden;
            transition: transform 500ms ease-in;
            &-content {
                --padding: 1.5em;
                padding: var(--padding);
                background: linear-gradient( hsl(0 0% 0% / 0), hsl(20% 0 0 / 0.3) 20%, hsl(0 0% 0% / 1));
                transform: translateY(70%);
                transition: transform 500ms ease;
            }
            &-title {
                position: relative;
                width: max-content;
                font-size: 1.25em;
            }
            &-title::after {
                content: "";
                position: absolute;
                height: 4px;
                left: calc(var(--padding) * -1);
                bottom: 0;
                width: calc(100% + var(--padding));
                background-color: var(--primary-color);
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 500ms ease;
            }
            &-body {
                font-size: 1.15em;
                padding-bottom: 0.25em;
            }
            &-button {
                cursor: pointer;
                display: inline;
                text-decoration: none;
                color: black;
                background-color: var(--primary-color);
                padding: 0.65em 1.5em;
                transition: background-color 500ms ease;
            }
            &-button:hover,
            &-button:focus {
                background-color: var(--third-color);
                color: white;
            }
        }
        &-card:hover,
        &-card:focus {
            transform: scale(1.05);
        }
    }
}

.ent-info-card:hover .ent-info-card-title::after {
    transform: scaleX(1);
}

.ent-info-card:hover .ent-info-card-content {
    transform: translateY(12%);
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    .show-service {
        grid-template-columns: none;
        grid-auto-flow: row;
    }
    .ent {
        &-info-card {
            width: 80vw;
            height: 40vh;
            &-content {
                transform: translateY(33%);
            }
        }
        &-info-card:hover &-info-card-content {
            transform: translateY(-10%);
        }
    }
}

@media only screen and (width: 375px) {
    .ent {
        &-info-card {
            width: 80vw;
            height: 40vh;
            &-content {
                transform: translateY(10%);
            }
        }
        &-info-card:hover &-info-card-content {
            transform: translateY(-33%);
        }
    }
}

@media only screen and (width: 360px) {
    .ent {
        &-info-card {
            width: 80vw;
            height: 40vh;
            &-content {
                transform: translateY(0%);
            }
        }
        &-info-card:hover &-info-card-content {
            transform: translateY(-60%);
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    //.show-service {}
    .ent {
        &-info-card {
            width: 30vw;
            height: 20vh;
            &-content {
                transform: translateY(-17%);
            }
            &-button {
                color: black;
                background-color: var(--primary-color);
                padding: 0.45em 1.2em;
                transition: background-color 500ms ease;
            }
        }
        &-info-card:hover &-info-card-content {
            transform: translateY(-57%);
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    .ent {
        &-info {
            &-card {
                &-body {
                    font-size: 12px;
                }
            }
            &-card:hover &-card-content,
            &-card:focus &-card-content {
                transform: translateY(-85%);
            }
        }
    }
}

@keyframes shaker {
    from {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}