<div class="container">
    <h1>LES SERVICES QUE NOUS FOURNISSONS</h1>
    <div class="show-service">
        <div (click)="goToServiceView(info.id)" *ngFor="let info of this.serv" [ngStyle]="{'background-image': 'url('+info.img+')'}" class="ent-info-card">
            <div class="ent-info-card-content">
                <h2 class="ent-info-card-title">{{info.name}}</h2>
                <p class="ent-info-card-body" [innerHTML]="info.desc.slice(0,45)+'...'"></p>
                <a routerLink="/service/{{info.id}}" class="ent-info-card-button">Voir plus</a>
            </div>
        </div>
    </div>
</div>
