.container {
    display: grid;
    grid-auto-flow: row;
    height: 92vh;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    background: var(--primary-color);
}

.card-explain {
    height: 30vh;
    max-width: 700px;
    width: 100%;
    background: var(--third-color);
    color: var(--primary-color);
    border-radius: 5px;
    margin-top: 2vh;
    box-shadow: 7px 4px 2em #8E9AAF;
}

.card-explain h1 {
    font-family: var(--font-family-title);
    font-size: 3em;
    text-align: center;
}

.card-explain p {
    margin: 1em 2em;
    font-size: var(--font-normal);
    text-align: center;
}

.form {
    &-container {
        margin-top: 2em;
        max-width: 700px;
        width: 100%;
        color: #FFF;
        background: linear-gradient(75deg, var(--fourth-color), var(--third-color));
        padding: 25px 30px;
        border-radius: 5px;
        box-shadow: 10px 10px 30px #000;
    }
    &-title {
        font-size: 25px;
        font-family: var(--font-family-normal);
        font-weight: 500;
        position: relative;
    }
    &-title::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 25vw;
        height: 3px;
        background: linear-gradient(135deg, var(--primary-color), var(--fourth-color));
    }
    &-container form &-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }
    form &-info &-div {
        margin-bottom: 1em;
        width: calc(100% / 2 - 20px);
    }
    &-info &-div &-details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &-info &-div &-input {
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #CCC;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 400ms ease;
    }
    &-info &-div textarea {
        width: min(40em, 73vw);
        height: 10em;
        outline: none;
        border-radius: 5px;
        border: 1px solid wheat;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 400ms ease;
    }
    &-info &-div input:focus,
    &-info &-div textarea:focus {
        border-color: rgba(32, 12, 44, 0.75);
    }
}

form .button input {
    height: 7.5vh;
    width: 100%;
    border: none;
    outline: none;
    color: #FFF;
    background: linear-gradient(135deg, #CBC0D3, var(--fourth-color));
    transition: all 0.8s ease;
}

form .button input:hover {
    background: wheat;
    color: black;
}
