<div class="container">
    <div class="card-present">
        <div class="details">
            <h1 class="title">Boss Company</h1>
            <ul>
                <li>Lieu: Abidjan Cocody FAYA, Feu du Nouveau Camp, Imm: BOCLEYM, Porte: C1</li>
                <li>
                    <a href="tel:+225 25 22 01 04 38">Fixe: +225 25 22 01 04 38</a>
                </li>
                <li>
                    <a href="tel:+225 07 48 40 73 05">Cel: +225 07 48 40 73 05</a>
                </li>
                <li>
                    <a href="tel:+225 05 45 14 91 43">Cel: +225 05 45 14 91 43</a>
                </li>
            </ul>
            <div class="buttons">
                <a class="buttonone" routerLink="/contacts">Nous écrire</a>
            </div>
        </div>
        <div class="social-part">
            <div class="social-link">
                <li>
                    <a target="_blank" href="https://www.facebook.com/dylanlord"><i class="fa-brands fa-facebook fa-2x"></i>Facebook</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/79102140/admin/"><i class="fa-brands fa-linkedin fa-2x"></i>LinkedIn</a>
                </li>
            </div>
        </div>
    </div>
</div>
