<div id="Info_part" class="footer">
    <div class="foot-logo">
    </div>
    <div class="foot-menu">
        <h1>Menu</h1>
        <div>
            <ul>
                <li (click)="top()"><a routerLink="/home">Accueil</a></li>
                <li (click)="top()"><a routerLink="/product">Produits</a></li>
                <li (click)="top()"><a routerLink="/service">Service</a></li>
                <li (click)="top()"><a routerLink="/devis">Devis+</a></li>
                <li (click)="top()"><a routerLink="/contacts/view">Contacts</a></li>
            </ul>
        </div>
    </div>

    <div class="contact">
        <h1 class="footer-title">Boss Company SARL</h1>
        <div class="footer-location">Abidjan, Riviera Akouedo Nouveau Camp</div>
        <span class="footer-rights">Copyright Boss Company SARL 2022</span>
    </div>
</div>
