<div class="container">
    <div class="present-grid">
        <div class="present-info">
            <h1>BOSS COMPANY</h1>
            <span class="span">The best for your need</span><br>
            <span>Les clients d'abord</span>
            <p>Nos clients participent indirectement à notre développement raison pour laquelle nous vous mettons en priorité de nos critères de décision
            </p>
            <span>Servir les autres</span><br>
            <span>C'est en cela que nous trouvons notre récompense</span><br>
            <a class="button" routerLink="/contacts">Nous contacter</a>
        </div>
        <div class="present-images">
            <div class="circle-image">
            </div>
        </div>
    </div>
</div>

<div class="ent">
    <div class="ent-info">
        <div class="ent-info-text">
            <h2 class="title">Bienvenue chez Boss Company</h2>
        </div>
        <div class="ent-info-cards">
            <div class="ent-info-card">
                <div class="ent-info-card-content">
                    <h2 class="ent-info-card-title">Qui sommes nous ?</h2>
                    <p class="ent-info-card-body">Boss Company est une entreprise innovante dans la commercialisation de matériels informatiques, electriques et de prestation diverses </p>
                    <a routerLink="/contacts" class="ent-info-card-button">Contact</a>
                </div>
            </div>
            <div class="ent-info-card">
                <div class="ent-info-card-content">
                    <h2 class="ent-info-card-title">Notre equipe</h2>
                    <p class="ent-info-card-body">Principalement constitué d'ingénieurs et de techniciens expérimentés afin d'apporter un plus dans la satisfaction de nos clients</p>
                    <a routerLink="/contacts" class="ent-info-card-button">Contact</a>
                </div>
            </div>
            <div class="ent-info-card">
                <div class="ent-info-card-content">
                    <h2 class="ent-info-card-title">Objectif</h2>
                    <p class="ent-info-card-body">Apporter une réponse rapide, efficace et fiable aux besoins et/ou problèmes de nos clients</p>
                    <a routerLink="/contacts" class="ent-info-card-button">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <div id="Service_part" class="ent-services">
        <h2>Les differents services que nous proposons</h2>
        <span routerLink="/service" class="ent-link-all">Tout voir</span>
        <div class="ent-service snap-inline">
            <div *ngFor="let info of this.serv" class="ent-service-card">
                <div class="ent-service-card-content">
                    <span class="ent-service-text">
                      {{ info.name }}
                  </span>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="Info_part" class="footer">
    <h1 class="footer-title">Boss Company SARL</h1>
    <div class="footer-location">Abidjan, Riviera Akouedo Nouveau Camp</div>
    <span class="footer-rights">Copyright Boss Company SARL 2022</span>
</div>